{#http://neverfear.org/blog/view/97/User_Authentication_With_Django#}
{# Remember to set the LOGIN_URL setting in settings.py #}

{% extends "base.html" %}

{% if form.errors %}
    <p>Your username and password didn't match, please try again.</p>
{% endif %}

{% block content %}
<form method="post" action=".">{% csrf_token %}
    <p>
        <label for="id_username">Username:</label>
        {{ form.username }}
    </p>
    <p>
        <label for="id_password">Password:</label>
        {{ form.password }}
    </p>
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% else %}
{#        TODO: Use url lookup to map directly to entry list class based view#}
{#        as opposed to hard-coding URL#}
        <input type="hidden" name="next" value="/" />
    {% endif %}
    <input type="submit" value="login" />
</form>
{% endblock content %}