{% extends "layout.html" %}
{% block body %}
<h2>Posts</h2>
<ul class="entries">
    {% for entry in entries %}
    <li>
        <h2>{{ entry.title }}</h2>
        <div class="entry_body">
            <!-- Contrary to what is sounds like, I think this filter indicates that
            this value is expected to always explicity be safe, as opposed to initiating
            an escape behavior -->
            {{ entry.text|safe }}
        </div>
    </li>
    {% else %}
    <li><em>No entries here so far</em></li>
    {% endfor %}
</ul>
{% endblock %}